### alapok

### [pandas dokumentáció](https://pandas.pydata.org/docs/index.html)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd

In [ ]:
help(pd.DataFrame)

In [ ]:
d = {
    "A": [1, 2, 3, 4],
    "B": [3, 4, 5, 6],
    "C": ["a", "b", "c", "d"],
    "d": [3.2, 4.3, 5, 6],
}

In [ ]:
df = pd.DataFrame(data=d)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df = df.set_index("B")
df

In [ ]:
df = df.reset_index()
df

In [ ]:
df.dtypes

--------

### átnevezés

In [ ]:
df = pd.DataFrame(
    {k: np.random.randint(0, 10, size=5) for k in ["CoRvInUs", "ElTE", "bmE"]}
)

In [ ]:
df

In [ ]:
df = df.rename(columns={c: c.lower() for c in df.columns})
df

In [ ]:
df.rename(columns=lambda c: c.upper())

---------

### oszlop/sor hozzáadás

In [ ]:
df.assign(bge=np.random.randint(0, 10, size=5))

In [ ]:
df.append({"corvinus": 1, "elte": 3, "bme": 4}, ignore_index=True)

----------

### összefésülés

In [ ]:
df2 = pd.DataFrame({k: np.random.randint(0, 10, size=5) for k in ["szfe", "corvinus"]})

In [ ]:
df2

In [ ]:
df.merge(df2, on="corvinus", how="outer")

----------

### imputálás

In [ ]:
df = pd.DataFrame(
    {
        "A": [1, None, 3, 4],
        "B": [3, None, None, 6],
        "C": ["a", "b", "c", "d"],
        "D": None,
    }
)

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(subset=["A"])

In [ ]:
df.fillna(0)

----------

### duplikátumok

In [ ]:
df = pd.DataFrame(
    {
        "brand": ["Yum Yum", "Yum Yum", "Indomie", "Indomie", "Indomie"],
        "style": ["cup", "cup", "cup", "pack", "pack"],
        "rating": [4, 4, 3.5, 15, 5],
    }
)
df

In [ ]:
df.drop_duplicates(subset=["brand", "style"])

-----------

### indexálás és szűrés

In [ ]:
df.loc[4,"rating"]

In [ ]:
df.iloc[4,2]

In [ ]:
df.query("rating > 4")

In [ ]:
df.query("style == 'cup'")

In [ ]:
df.loc[df["style"] == "cup"]

------

### sorbarendezés

In [ ]:
df.sort_values(by=["rating"])

In [ ]:
df.sort_values(by=["rating"], ascending=False)

---------

### egyedi értékek

In [ ]:
df["brand"].unique()

In [ ]:
df["brand"].nunique()

In [ ]:
df["style"].value_counts()

--------

### metrikák

In [ ]:
df = pd.DataFrame(
    {
        "A": [12, 4, 5, 44, 1],
        "B": [5, 2, 54, 3, 2],
        "C": [20, 16, 7, 3, 8],
        "D": [14, 3, 17, 2, 6],
    }
)

In [ ]:
df

In [ ]:
pd.DataFrame(
    {
        "max": df.max(),
        "min": df.min(),
        "n": df.count(),
        "mean": df.mean(),
        "median": df.median(),
        "sum": df.sum(),
        "sum": df.std(),
    }
)

------------

### csoportosítás

In [ ]:
arrays = [
    ["Falcon", "Falcon", "Parrot", "Parrot"],
    ["Captive", "Wild", "Captive", "Wild"],
]
index = pd.MultiIndex.from_arrays(arrays, names=("Animal", "Type"))
df = pd.DataFrame({"Max Speed": [390.0, 350.0, 30.0, 20.0]}, index=index).reset_index()

In [ ]:
df

In [ ]:
df.groupby("Animal").mean()

In [ ]:
df.groupby("Type")["Max Speed"].max().reset_index()

In [ ]:
df.groupby("Type")["Max Speed"].std().reset_index()

In [ ]:
df.groupby("Animal")["Max Speed"].std().reset_index()

--------

### hotel adat

In [1]:
from io import StringIO
import requests
import pandas as pd


def read_hotels_data():
    orig_url = "https://drive.google.com/file/d/1zWf68SsJvRUv9YEex6cjAJMpe5sOIrR2/view?usp=sharing"

    file_id = orig_url.split("/")[-2]
    dwn_url = "https://drive.google.com/uc?export=download&id=" + file_id
    url = requests.get(dwn_url).text
    csv_raw = StringIO(url)
    df = pd.read_csv(csv_raw)
    return df

In [2]:
df = read_hotels_data()

In [3]:
df.head()

   hotel_id  price  year  month  weekend      country       city  stars
0         1    172  2017     11        1  Netherlands  Amsterdam    4.0
1         1    122  2018      1        1  Netherlands  Amsterdam    4.0
2         1    122  2017     12        0  Netherlands  Amsterdam    4.0
3         1    552  2017     12        0  Netherlands  Amsterdam    4.0
4         1    122  2018      2        1  Netherlands  Amsterdam    4.0

-------

### kérdések

#### könnyű
1. [Hány hotelről van adatunk?](#1)
2. [Hány városból van adatunk?](#2)
3. [Melyik városban adták el a legtöbb szobát?](#3)
4. [Melyik évből van a legtöbb adatunk?](#4)
5. [Mennyibe került a legdrágább és a legolcsóbb szoba?](#5)
6. [Melyik 3 hónapban történt a legtöbb foglalás?](#6)

#### közepes
7. [Mely városokban volt a legdrágább és a legolcsóbb szoba?](#7)
8. [A Portugál vagy a Holland hotelek drágábbak átlagosan?](#8)
9. [A hétvégi foglalások vagy a hétközbeni foglalások drágábbak átlagosan? Mennyivel?](#9)
10. [Az előző kérdés csak Londonra vonatkoztatva](#10)
11. [Melyik 3 hónap a legdrágább átlagosan?](#11)
12. [Melyik országban van a legtöbb városban hotel?](#12)

### nehéz
13. [Melyik városban van a legtöbb 5 csillagos hotel?](#13)
14. [Melyik hotelen belül van a legnagyobb árkülönbség két szoba között?](#14)
15. [Melyik országban a legnagyobb a városonkénti átlagárak szórása?](#15)